a {
	cursor: pointer;
}
.hidden {
	display: none;
}
.list-group-item {
	cursor: pointer;
}

.list-group {
	width: 300px;
}

#title {
	cursor: pointer;
}

#ytplayer {
	position: absolute;
	right: 100px;
	top: 100px;
}
.song-search-result {
	margin: 5px;
	border-bottom: 1px solid black;
	margin-top: 2px;
}
.align-right {
	position: absolute;
	right: 25px;
}
.glyphicon {
	cursor: pointer;
}
.margin-right {
	position: absolute;
	right: 40px;
}
#users-to-invite {
	width: 592px;
	margin: 4px;
	max-width: 600px;
}